#download-wrapper {
  height: 60px;
}

#drive-menu {
  display: flex;
  align-items: center;
}

#drive-menu>* {
  margin-right: 5px;
}

#drive-box,
#login-box {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}

/*************** END Google Drive Box ***************/

/************* FLOATING BOX *********************/

.float-box {
  border-radius: 0px;
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  width: 500px;
  padding: 7px 10px;
  border: solid 1px #ccc;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 35%;
  z-index: 1000000;
  background-color: #fff;
  display: none;
}

.float-box h3 {
  color: black;
  font-size: 0.7rem;
}

.close-x {
  float: right;
  display: inline-block;
  cursor: pointer;
}

.text-input {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0px;
}

/************* END FLOATING BOX *********************/

/*************** NOTIFICATION ******************/

#loading-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  -moz-opacity: 0.25;
  opacity: .25;
  filter: alpha(opacity=25);
  top: 0;
  left: 0;
  position: absolute;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
}

#status-message {
  border: solid 1px #fbfbd4;
  background: #fbfbd4;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9999999999;
}

#error-message {
  border: solid 1px #f2fcb9;
  background: #d83813;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 9999999999;
  max-width: 400px;
  border-radius: 5px;
  display: none;
}

#upload-percentage {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #297ab8;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 15px;
  display: none;
}

/*************** END NOTIFICATION ******************/

/***************** MISC ************************/

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border: none;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  border: none;
}

.hide {
  display: none;
}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

/***************** END MISC ***********************