@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

:root {
  font-size: 20pt;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

body {
  text-align: center;
  background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: #888;
}
h1 {
  font-size: 2rem;
}

#wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 300px 1fr;
}


#right-column {
  width: 100%;
  padding: 40px 40px 10px 40px;
}

#right-column > div:first-child {
<<<<<<< HEAD
  min-height:84vh;
=======
  min-height:85vh;
>>>>>>> b55df81f9291f20cd428a54bb06051f72dbb382b
  padding-bottom: 40px;
}

#left-column {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #222629;
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 100%;
  width: 300px;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
}

#left-column .top {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

#left-column .bottom .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0rem 2.8rem;
}

#left-column .bottom {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0.75em 0;
}


#left-column .icons {
  font-size: 0.7rem;
  text-align: center;
}

#left-column .icons a {
  color: #41484c;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

#left-column .icons a:hover {
  color: #fff;
}

#logo {
  margin: 1.5em 1.5em 1em 1.5em;
}

#logo h1 {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1em;
  text-align: left;
}

#logo p {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25em;
  text-align: left;
}

#logo .image {
  position: absolute;
  left: 0;
  top: 0;
}

#nav {
  margin-top: 1rem;
}

#nav ul {
  margin-bottom: 0;
}

#nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  height: 2rem;
  padding: 0.5em 2.5em 0.5em 2.5em;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

#nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  color: #fff;
}

#nav ul li:hover span:before {
  color: white;
}

/* Icons */

.icon {
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon>.label {
  display: none;
} 

#file {
  display: none;
}

#logo #drive-box #switchAcc,
#logo #drive-box #logout,
#login {
  cursor: pointer;
  border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
  margin-top: 0px;
}

#switchAcc:hover,
#logout:hover,
#login:hover {
  color: white;
  border-bottom-color: rgba(255, 255, 255, 0);
}

#logo #drive-box #logout {
  margin-left: 0.6rem;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
  grid-gap: 0.8rem;
}
#img_placeholder {
  box-shadow: none;
  border: 1.5px dashed #b4b9be;
  font-size: 0.6rem;
}

#img_placeholder > div {
  display: grid;
  align-items: center;
  justify-items: center;
  line-height: 0.7rem;
}

.img_wrapper {
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  min-height: 0;
}

.img_wrapper::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.img_wrapper > div {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.remove {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  padding: 0.05rem;
  width: 1rem;
  height: 1rem;
  z-index: 99;
  border-radius: 100%;
  opacity: 0.6;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

.remove:hover {
  opacity: 1;
}

#contact {
  font-size: 0.7rem;
}

#contact p:first-child {
  margin-bottom: 15px;
}