#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 5px;
  /* position: relative;
  top: 0px;
  left: 0px; */
}

button {
  display: none;
}

.img_wrapper {
  position: relative;
}

.remove {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 2px 2px;
  width: 16px;
  text-align: center;
  vertical-align: middle;
  z-index: 99;
  border-radius: 100%;
  background-color: lightgrey;
  opacity: 0.6;
  cursor: pointer;
}

.remove:hover {
  opacity: 1;
}